:root {
  --center-width: 780px;
  --margin: 10px;
  --side-width2: calc((100% - var(--center-width)) / 2 - var(--margin));
  --side-width1: calc((100% - var(--center-width)) - var(--margin));
}

body {
  background: url(../images/body-background.png) #eae6d1;
  font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 1000px) {

  #left {
    width: var(--side-width2);
    float: left;
    left: 0;
    position: fixed;
    text-align: right;
  }

  #left2 {
    display: none;
  }

  #center {
    width: var(--center-width);
    float: left;
    position: absolute;
    left: calc(var(--side-width2) + var(--margin));
    margin: 20px 0;
  }

  #right {
    width: var(--side-width2);
    float: left;
    right: 0;
    position: fixed;
  }
}

@media screen and (max-width: 999px) and (min-width: 900px) {

  #left {
    display: none;
  }

  #left2 {
    width: var(--side-width1);
    float: left;
    left: 0;
    position: fixed;
    text-align: right;
  }

  #center {
    width: var(--center-width);
    float: left;
    position: absolute;
    left: calc(var(--side-width1) + var(--margin) / 2);
    margin: 20px 0;
  }

  #right {
    display: none;
  }
}

@media print, screen and (max-width: 899px) {

  #left {
    display: none;
  }

  #left2 {
    display: none;
  }

  #center {
    width: var(--center-width);
    margin-left: auto;
    margin-right: auto;
  }

  #right {
    display: none;
  }
}

#header {
  text-align: center;
  background: #fde63f;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
}

#main {
  background: #fbfbfb;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  padding: 30px 30px 10px 30px;
}

#bottom {
  clear: both;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

h1 {
  border-bottom: 1px dotted black;
}

h1.title {
  border-bottom: none;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    border-radius: 0.5em;
    padding: 0.5em;
}

code {
    background-color: #ececec;
    border-radius: 3px;
    padding: 3px;
    font-family: monospace;
    line-height: 1;
}

a {
    text-decoration: none;
}
